# Ejercicios de python trabajados en clase

## Tablas de multiplicar
Hacer las tablas de multiplicar del 1 al 10 usando dos for anidados y rectificando los valores de i y de j

In [6]:
for i in range (10):
    print("Tabla del", i+1, ":")
    for j in range (10):
        print(i+1, " * ", j+1," = ", (i+1)*(j+1))

Tabla del 1 :
1  *  1  =  1
1  *  2  =  2
1  *  3  =  3
1  *  4  =  4
1  *  5  =  5
1  *  6  =  6
1  *  7  =  7
1  *  8  =  8
1  *  9  =  9
1  *  10  =  10
Tabla del 2 :
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
2  *  10  =  20
Tabla del 3 :
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27
3  *  10  =  30
Tabla del 4 :
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36
4  *  10  =  40
Tabla del 5 :
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
5  *  10  =  50
Tabla del 6 :
6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54
6  *  10  =  60
Tabla del 7 :
7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
7  *  10  =  70
Tabla del 8 :
8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72
8  *  10  =  80
Tabla del 9 :
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81
9  *  10  =  90
Tabla del 10 :
10  *  1  =  10
10  *  2  =  20
10  *  3  =  30
10  *  4  =  40
10  *  5  =  50
10  *  6  =  60
10  *  7  =  70
10  *  8  =  80
10  *  9  =  90
10  *  10  =  100

# Operaciones con acarreo

## Multiplicación con acarreo
Vamos almacenando el resultado en una variable y luego la devolvemos

In [10]:
def multiplicar (a,b):
    #declaramos la variable y la igualamos a 0, elmento neutro de la suma
    res = 0
    for i in range (b):
        #definimos un for de rango b, ya que multiplicar a*b es sumar un valor a un número b de veces
        res+=a
    return res

c = multiplicar (25, 4)
print (c)

100

## Potencias con acarreo

In [12]:
def potencia (a,b):
    #declaramos la variable y la igualamos a 1, elmento neutro de la multiplicación
    res = 1
    for i in range (b):
        #definimos un for de rango b, ya que elvar a^b es multipicar un valor a un número b de veces
        res*=a
    return res

c = potencia (5, 3)
print (c)

125